.inner-box .image-box {
    position: relative;
    overflow: hidden;
    max-height: 180px;
}

.text {
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden !important;
    width: 180px;
    max-height: 130px;
}